@model MyWayNet.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventBegin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventBegin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Institution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Institution.InstitutionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupation.OccupationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
